.body {
    background-color: #a99cd0;
   
}

#imgPreview {
    width: 150px;
    max-height: 150px;
  
}

.upload {
    height: 600px;
    box-shadow: 6px 6px 0px rgb(237, 233, 233)k;
}
.imgUpload {
    font-size: large;


}
.tenor-gif-embed{
    max-height: 20%;
    max-width: 20%;
}